<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Borrow a Buddy</title>
    <!-- Favicon-->
    <link
      rel="icon"
      type="image/x-icon"
      href="bootstrap-profile/assets/img/favicon.ico"
    />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Third party plugin CSS-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="bootstrap-profile/css/styles.css" rel="stylesheet"/>
    <link href="styles.css" rel="stylesheet"/>
    
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="eventForm/images/icons/favicon.ico"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="eventForm/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="eventForm/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="eventForm/vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="eventForm/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="eventForm/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="eventForm/css/util.css" />
    <link rel="stylesheet" type="text/css" href="eventForm/css/main.css" />
    <!--===============================================================================================-->
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-light fixed-top py-3"
      id="mainNav"
    >
      <div id ="createSignUpSheetNav" class="container">
        <a class="navbar-brand js-scroll-trigger" href="/profile"
          >Borrow a Buddy
</a
        >
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/createSignUpSheet"
                >Schedule a Buddy</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/viewCreatedEvents"
                >Edit My Borrowed Buddies</a>
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/viewPublishedSheets"
                >View My Borrowed Buddies</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/viewVolunteering"
                >Volunteering Buddies</a
              >
            </li>
            <% if( typeof user !== 'undefined' ) { %>
              <% console.log('user loggedin') %>
            
              
              <li class="nav-item"><a class="nav-link js-scroll-trigger buttonLogOut">LOG OUT</a></li>
             
              
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Masthead-->
    <header id ="headerCreateEvent" class="masthead">

      <div
        class="bg-contact2"
       
      >
        <div class="container-contact2">
          <div class="wrap-contact2">
            <% if (user.local.email) { %>
            <form action="/filledOutSignUpSheet" method ="POST" class="contact2-form validate-form">
              <span class="contact2-form-title"> Schedule a Buddy </span>

              <div
                class="wrap-input2 validate-input "
                data-validate="Name is required"
              >
                <p class="focus-input2" data-placeholder="">NAME</p>
                 <input class="inputDateEForm" type="text" name="name" placeholder="" />
                 
              </div>

              <div
                class="wrap-input2 validate-input"
                data-validate="Event Name is required"
              >
                <p class="focus-input2" data-placeholder="">BUDDY NAME</p>
                  <input class="inputDateEForm" type="text" name="eventTitle" placeholder="" />

              </div>

              <div
                class="wrap-input2 validate-input"
                data-validate="Event START DATE is required"
              >
                <p class="focus-input2" data-placeholder="">START DATE</p>
                  <input class="inputDateEForm" type="date" name="startDate" placeholder="start" required />
                  
                
              </div>

              <div
                class="wrap-input2 validate-input"
                data-validate="Event END DATE is required"
              >
                <p class="focus-input2" data-placeholder="">END DATE</p>
                  <input class="inputDateEForm" type="date" name="endDate" required />
                  
              
              </div>

              <div
                class="wrap-input2 validate-input"
                data-validate="Event Description is required"
              >
                <p class="focus-input2" data-placeholder="">OCCASION</p>
                  <input class="inputDateEForm" rows="3" name="eventDescription">

              </div>

              <div class="container-contact2-form-btn">
                <div class="wrap-contact2-form-btn">
                  <div class="contact2-form-bgbtn"></div>
                  <button type="submit" class="contact2-form-btn">
                    Submit
                  </button>
                </div>
              </div>
            </form>
            <% } %>
          </div>
        </div>
      </div>
    </header>



    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- Core theme JS-->
    <!--===============================================================================================-->
	<script src="eventForm/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
    <script src="eventForm/vendor/bootstrap/js/popper.js"></script>
    <script src="eventForm/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
    <script src="eventForm/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
    <script src="eventForm/js/main.js"></script>
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-23581568-13');
    </script>
    <script type="text/javascript" src="main.js"></script>
    <script src="bootstrap-profile/js/scripts.js"></script>
  </body>
</html>


